/* Inserta tu codigo aqui */
.row{
	margin:0;
}
/*estilos encabezado*/

#logo{
	width: 50%;
	height: 50%;
	margin-left: 50%; 
}
.img-header{
	background: url("../img/semilla.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 50%; 
}
/*estilos menu*/
.borde{
	border-right: 1px solid black;
}
ul{
	margin: 1% 0;
	text-align: center;
	padding: 2%
}
li{
	text-decoration: none;
	display: inline-block;
	padding: 0 2%
}
li a{
	text-decoration: none;
	color: #000;
}
.img-header{
	width: 100%;
    height: 300px;
}
/*estilos mision y vision*/
.img-mision{
	width: 30%;
	height: 30%;
}
/*seccion metodologia*/
.fondo-metodo{
	background-image: url("../img/metodo.jpg"), url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: left top, right top;
}
.posicion{
	width: 50%;
	margin-left: 53%; 
}
/*seccion proyectos*/
.img-proyecto{
	width: 100%;
	height: auto;
	padding: 5% 10% 0 0;
}
/*seccion equipos*/
.img-redondo{
	border-radius: 50%;
	width: 50%;
	height: auto;
}
.icon-redes{
	width: 50%;
	height: auto;
}
/*seccion blogs*/
.fondo-blog{
	background: url("../img/fondo2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
}
.img-blog{
	width: 100%;
	height: auto;
}
.img-blog-medio{
	width: 100%;
	height: auto;
}
/*flechas*/
.flecha{
	padding-top: 10%;
	position: absolute;
}
#izq{
	left: 2%;
}
#der{
	right: 2%;
}
.text-gris{
	color: #4D4C4C;
}
/*footer*/
.fondo-gris{
	background-color: #535353;
}
.borde-blanco{
	border:1px solid #fff;
}
.border-none{
	border-right: 0;
}
.icon{
	width: 30%;
	height: auto;
	margin-top: 30%;
	margin-left: 60%;
	padding: 10%;
}
span>a{
	color: #EFC70B;
	text-decoration: none;
}
/*h3*/
h3{
	color: #6F7E5D;
	font-size: 1.2em;
}
h5{
	font-size: 1.5em;
	font-weight: 500;
}