/* Inserta tu codigo aqui */
/*estilos encabezado*/
#logo{
	max-width: 40%;
}
.img-header{
	background: url("../img/semilla.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 50%; 
}
ul{
	padding: 2%
}
.navbar-blanco{
	margin-bottom: 0;
	background-color: #fff;
}

.img-header{
	width: 100%;
    height: 300px;
}
/*estilos mision y vision*/
.img-mision{
	width: 30%;
	height: 30%;
}
/*seccion metodologia*/
.fondo{
	background-image: url("../img/metodo.jpg");
	padding: 14%;
}
.fondo1{
	background-image: url("../img/fondo.jpg");
}
.posicion{
	width: 50%;
	margin-left: 53%; 
}
/*seccion proyectos*/
.img-proyecto{
	width: 100%;
	height: auto;
	padding: 5% 10% 0 0;
}
/*seccion equipos*/
.redondo{
	width: 40%;
}
.icon-redes{
	max-width: 10%;
}
/*seccion blogs*/
.fondo-blog{
	background: url("../img/fondo2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: auto;
}
.img-blog{
	width: 100%;
	height: auto;
}
.img-blog-medio{
	width: 100%;
	height: auto;
}
/*flechas*/
.flecha{
	padding-top: 10%;
	position: absolute;
}
#izq{
	left: 2%;
}
#der{
	right: 2%;
}
.text-gris{
	color: #4D4C4C;
}
/*footer*/
.fondo-gris{
	background-color: #535353;
}
.borde-blanco{
	border:1px solid #fff;
}
.border-none{
	border-right: 0;
}
.icon{
	max-width: 40%;
	margin-top: 30%;
	margin-left: 60%;
	padding: 10%;
}
span>a{
	color: #EFC70B;
	text-decoration: none;
}
/*h3*/
h3{
	color: #6F7E5D;
	font-size: 1.2em;
}
h5{
	font-size: 1.5em;
	font-weight: 500;
}
.navbar-brand{
	padding: 0;
}

/*media queries*/
@media (min-width: 1200px) {
	#logo{
		max-width: 40%;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.pd-10{
		padding: 4.5%;
	}
}

@media (max-width: 768px) {
	#logo{
		max-width: 30%;
	}	
	.navbar-brand{
		height: 5px;
	}
	.pd-10{
		padding: 5%;
	}
}

@media (max-width: 480px) {
	.pt-10 {
		padding-top: 5%;
	}
	#logo{
		max-width: 30%;
	}
}